name: Publish

on: workflow_dispatch

jobs:
  publish_wheels:
    uses: ./.github/workflows/wheels.yml
  publish:
    name: publish
    needs: publish_wheels
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          pattern: dist-*
          path: ./dist
          merge-multiple: true
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          repository_url: https://upload.pypi.org/legacy/
